// Include Sass mixins
@import "scss/utils/mixins";

// Include Theme variables
@import "scss/common/theme.variables";
// Include Ionic override variables
@import "scss/utils/override_variables";

// Include Bourbon
@import "www/lib/bourbon/app/assets/stylesheets/_bourbon";
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include Ionic override styles
@import "scss/utils/override_styles";

// Include project Sass variables
@import "scss/common/common.variables";
@import "scss/auth/auth.variables";
@import "scss/cards/cards.variables";
@import "scss/sidemenu/sidemenu.variables";
@import "scss/post/post.variables";
@import "scss/profile/profile.variables";
@import "scss/profile/settings.variables";
@import "scss/shop/shop.variables";
@import "scss/feed/feed.variables";
@import "scss/comments/comments.variables";

// Include custom styles
@import "scss/common/common.styles";
@import "scss/auth/welcome.styles";
@import "scss/auth/auth.styles";
@import "scss/cards/cards.styles";
@import "scss/sidemenu/side-menu.styles";
@import "scss/post/post.styles";
@import "scss/profile/profile.styles";
@import "scss/profile/settings.styles";
@import "scss/feed/feed.styles";
@import "scss/comments/comments.styles";
@import "scss/comments/popup.comments.styles";
@import "scss/shop/shop-cards.styles";
@import "scss/shop/shop.styles";
@import "scss/shop/shop-home.styles";
@import "scss/shop/shop-popular.styles";
@import "scss/shop/shop-sale.styles";
@import "scss/shop/cart.styles";
@import "scss/shop/product-details.styles";
@import "scss/shop/shipping-address.styles";
@import "scss/shop/checkout.styles";
@import "scss/tracks/discover.styles";

.bar.bar-dark {
  background-color: rgba(0,0,0,0.1);
  border-bottom-color: #000;
  .item-input-wrapper {
    background-color: rgba(255,255,255,0.1);
    input {
      color:#fff;
    }
  }
}

.item-actions {

  padding: 0 15px 15px 15px;

  .button {
    height: auto !important;
    line-height: 25px !important;
  }

  .button-group {

    .button {
      font-weight: normal;
      word-spacing: 3px;
      font-size: 13px;
      border-radius:0px;
      border-width: 1px 0px 1px 1px;
      display: inline-block;
    }

    .button:first-child {
      border-radius: 4px 0px 0px 4px;
    }

    .button:last-child {
      border-right-width: 1px;
      border-radius: 0px 4px 4px 0px;
    }
  }
}

// .item {
//   border-top:1px solid #ddd !important;
//   border-bottom:none;
// }
