<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span>Forgot password</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.feed">
        Skip
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row related-copy">
      <div class="col">
        <h5>Please enter your email address and we'll send you an email to reset your password.</h5>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="forgot_password_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email or username" name="email" ng-model="user.email" required>
            </label>
          </div>
          <button ng-hide="passwordReset" type="submit" class="sign-up button button-block" ng-click="requestNewPassword(user)" ng-disabled="forgot_password_form.$invalid">
            Reset Password
          </button>
          <p ng-show="error" class="message error">{{error}}</p>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
