<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span>Log In</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.feed">
        Skip
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row related-navigation">
      <div class="col">
        <a class="nav-left button button-clear" ui-sref="auth.forgot-password">
          Forgot Password
        </a>
        <a class="nav-right button button-clear" ui-sref="auth.signup">
          Sign Up
        </a>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <h5 ng-show="passwordReset" class="message success padding">We've sent you an email with instructions on how to reset your password.</h5>
        <form name="login_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email or username" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
          </div>
          <p ng-show="error" class="message error">{{error}}</p>
          <button type="submit" class="log-in button button-block" ng-click="doLogIn(user)" ng-disabled="login_form.$invalid">
            Log In
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
