<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span>Sign Up</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.feed">
        Skip
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row related-navigation">
      <div class="col">
        <a class="nav-right button button-clear" ui-sref="auth.login">
          Log In
        </a>
      </div>
    </div>
    <form name="signup_form" class="" novalidate>
    <div class="row form-wrapper">
      <div class="col">
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="First Name" name="first_name" ng-model="user.first_name" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" name="last_name" ng-model="user.last_name" required>
            </label>
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
          </div>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Username" name="name" ng-model="user.name" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
          </div>

          <button type="submit" class="sign-up button button-block" ng-click="doSignUp(user)" ng-disabled="signup_form.$invalid">
            Sign Up
          </button>
          <p ng-show="error" class="message error">{{error}}</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
