<ion-view class="profile-likes" view-title="Profile">
    <div class="row user-related-content">
      <div class="col col-100 user-related-content-item" ng-repeat="track in likes">
        <section ng-include="'views/app/tracks/compact.html'" class="post-card-outer"></section>
      </div>
    </div>
</ion-view>
