<ion-view class="cards-view" view-title="Profile">
  <div class="card-2" ng-repeat="track in tracks" ui-sref="app.product-detail({trackId: track.id})">
    <section ng-include="'views/app/tracks/compact.html'"></section>
  </div>
</ion-view>
