<ion-view class="feed-view" view-title="Trending">
  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
    </ion-refresher>

    <div ng-repeat="track in tracks">
      <section ng-include="'views/app/tracks/track-card.html'" class="post-card-outer"></section>
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
