<ion-view class="feed-view" view-title="Search">
  <ion-content>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</div>
</ion-content>
</ion-view>
