<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar ng-class="{'profile-color': ('app.profile' | includedByState), 'settings-color': ('app.settings' | includedByState), 'product-color': ('app.product-detail' | includedByState), 'feed-color': ('app.feed' | includedByState), 'shop-color': ('app.shop' | includedByState), 'cart-color': ('app.cart' | includedByState), 'shipping-address-color': ('app.shipping-address' | includedByState), 'checkout-color': ('app.checkout' | includedByState)}">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-search" ui-sref="app.search">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-show="{{loggedUser.id}}" class="button button-icon button-clear ion-search"  ui-sref="app.profile.posts({userId:loggedUser.id})">
        <button ng-hide="{{loggedUser.id}}" class="button button-icon button-clear ion-navicon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer left-menu">
      <div class="bar bar-header bar-dark item-input-inset">
        <img ng-src="./img/icon.png" width="30">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
      <div class="">
        <div class="row menu-top-options">
          <div class="col col-top">
            <ion-list>
              <ion-item ng-show="{{loggedUser.id}}" class="user-item" menu-close ui-sref="app.profile.posts({userId:loggedUser.id})">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{loggedUser.images.small}}" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="menu-text">{{loggedUser.name}}</h2>
                <!-- <div class="user-inbox">
                  <i class="menu-icon icon ion-ios-filing"></i>
                  <span class="inbox-unread">13</span>
                </div> -->
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.tracks.trending">
                <i class="menu-icon icon ion-arrow-graph-up-right"></i>
                <h2 class="menu-text">Trending</h2>
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.feed">
                <i class="menu-icon icon ion-ios-pulse-strong"></i>
                <h2 class="menu-text">Activity</h2>
              </ion-item>
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.shop.popular">
                <i class="menu-icon icon ion-pinpoint"></i>
                <h2 class="menu-text">Discover</h2>
              </ion-item>
              <!-- <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.cart" ng-show="{{loggedUser.id}}">
                <i class="menu-icon icon ion-archive"></i>
                <h2 class="menu-text">Received</h2>
              </ion-item> -->
              <!-- <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.search">
                <i class="menu-icon icon ion-search"></i>
                <h2 class="menu-text">Search</h2>
              </ion-item> -->
              <!-- <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.notifications" ng-show="{{loggedUser.id}}">
                <i class="menu-icon icon ion-ios-bell"></i>
                <h2 class="menu-text">Notifications</h2>
              </ion-item> -->
              <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="auth.login" ng-hide="{{loggedUser.id}}">
                <i class="menu-icon icon ion-log-in"></i>
                <h2 class="menu-text">Sign In</h2>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="row menu-bottom-options">
          <div class="col col-bottom">
            <ion-list>

              <ion-item class="full-width-item" menu-close ui-sref="app.shop.sale">
                <button class="button button-full button-assertive">
                  Upgrade account
                </button>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
