<div class="list card">
  <div class="row card-outer">
    <div class="col card-content">
      <div class="card-title">{{track.name}}</div>
      <div class="card-description-outer">
        <p class="card-description">{{ card.place }}</p>
        <p class="card-description">{{track.type}} - {{track.genre}}</p>
      </div>
    </div>
    <div class="col col-25 card-image">
      <pre-img ratio="_1_1" helper-class="main-image">
        <img ng-src="{{track.images.medium}}" spinner-on-load>
      </pre-img>
    </div>
  </div>
