<ion-view view-title="Discover" class="cards-view">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card-2" ng-repeat="track in tracks">
      <div class="list card">
        <div class="row card-outer col-lg-3">
          <div class="col card-content">
            <div class="card-title">{{track.name}}</div>
            <div class="card-description-outer">
              <p class="card-description">{{ card.place }}</p>
              <p class="card-description">{{track.type}} - {{track.genre}}</p>
            </div>
          </div>
          <div class="col col-25 card-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="{{track.images.medium}}" spinner-on-load>
            </pre-img>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
