<div class="card-4" ng-controller="PostCardCtrl" blur>
  <div class="list card">
    <!-- <div class="item item-image">
      <pre-img ratio="_16_15" helper-class="main-image">
        <img ng-src="{{track.user.images.large}}" spinner-on-load>
      </pre-img>
    </div> -->
    <div class="card-background" style="background-image:url({{track.user.images.large}});">
      <div class="bg-overlay">
      <div class="item-body">
      <h2 class="card-title">{{track.name}}</h2>
      <p class="card-description">
        <a class="card-user-name" ui-sref="app.profile.posts({userId:track.user.id})">
          <span class="name-text">{{track.user.name}}</span>
        </a>
      </p>
      </div>
      <div class="item-actions">
        <button class="right-button action-button button-icon icon ion-share button button-small">
        </button>
        <div class="button-group">
        <button ng-click="showComments(track)" class="icon-left ion-ios-chatbubble-outline action-button button button-small">
          &nbsp;<b>{{ track.stats.comments}}</b>
        </button><button ng-hide="track.is.playing" class="icon-left ion-ios-play action-button button button-small" ng-click="playTrack(track)">
          &nbsp;<b>{{ track.stats.plays}}</b>
        </button><button ng-hide="!track.is.playing" class="icon-left ion-ios-pause action-button button button-small" ng-click="pauseTrack(track)">
          &nbsp;<b>{{ track.stats.plays}}</b>
        </button><!-- <button class="left-button action-button button button-icon icon ion-android-more-vertical button-small">
        </button> --><button ng-show="track.is.liked" class="icon-left ion-ios-heart action-button button button-small assertive" ng-click="unlikeTrack(track)">
          &nbsp;<b>{{ track.stats.likes}}</b>
        </button><button ng-hide="track.is.liked" class="icon-left ion-ios-heart-outline action-button button button-small" ng-click="likeTrack(track)">
          &nbsp;<b>{{ track.stats.likes}}</b>
        </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
