<ion-view view-title="{{track.title}}" class="product-view">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-share"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <div class="product-card-content">
      <div class="item item-image">
        <pre-img ratio="_1_1" helper-class="main-image">
          <img ng-src="{{track.images.large}}" spinner-on-load>
        </pre-img>
      </div>
      <div class="item item-body">
        <h2 class="product-title">{{track.name}}</h2>
        <div>
          <p class="product-like"><i class="icon ion-heart"></i>Like</p>
          <p class="likes"></i>{{track.stats.likes}}</p>
        </div>
        <p class="product-price">{{track.genre}}</p>
      </div>
      <div class="item item-body">
        <p class="product-description">{{track.user.name}}</p>
      </div>
    </div>
    <div class="item item-divider shop-section-title">
      <span class="title-copy">Related Tracks</span>
    </div>
    <div class="row shop-products-narrow-cards-outer shop-product-cards-scroller">
      <div ng-repeat="related_product in product.related_products" class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: related_product._id})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="{{related_product.picture}}" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">{{related_product.title}}</h2>
            <p class="card-description"><b>${{related_product.price}}</b> - {{related_product.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
