<ion-pane ng-controller="CardsCtrl" class="background-grey">
  <ion-header-bar class="bar-default">
    <h1 class="title">TD Cards 2</h1>
  </ion-header-bar>

  <div ng-if="cards.active">
    <td-cards>
      <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
        <div class="image" ng-controller="CardCtrl">
          <div class="no-text"><i class="icon ion-thumbsdown"></i></div>
          <div class="yes-text"><i class="icon ion-thumbsup"></i></div>
          <div class="discard" ng-click="onClickTransitionOut(card)">SKIP</div>
          <!-- <div class="play" ng-click="onClickTransitionOut(card)">PLAY</div> -->
          <img ng-src="{{ card.images.medium }}">
        </div>
      </td-card>
      <td-card id="end-card" drag="false">
        <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
      </td-card>
    </td-cards>
  </div>

</ion-pane>
