<ion-view view-title="Shop" class="shop-view">
  <ion-tabs class="tabs-icon-only tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
    <ion-tab title="Home" icon-on="ion-ios-close" icon-off="ion-close-round" ng-click="cardSwipedLeft">
      <ion-nav-view name="shop-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Popular" icon-on="ion-ios-pause" icon-off="ion-ios-play">
      <ion-nav-view name="shop-popular"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sale" icon-on="ion-ios-checkmark" icon-off="ion-checkmark-round" ng-click="cardSwipedRight">
      <ion-nav-view name="shop-sale"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
