.feed-view {
  background-color: #eee !important;
}

.post-card-outer
{

  .card-4
	{

		.card
		{
			margin: 0px;
			border-radius: 0px;
      padding-bottom: 0px;
      padding-top:0px;
			// box-shadow: 0px 1px 1px rgba(lighten($card-4-color, 40%), .3);
      // width: 33%;

      .card-background {
        background-position:center;
        background-size:cover;
        height: 100%;

        .bg-overlay{
          background-color:rgba(0,0,0,0.7);

        }
      }

      // .item-actions {
      //   bottom:0px;
      //   position: absolute;
      //   width:100%;
      // }

			.item
			{
				&:first-child,
				&:last-child
				{
					border-radius: 0px;
				}

				&.item-body
				{
					padding: $card-4-padding;
					border-bottom: none;
				}

				&.item-actions
				{
					margin: $card-4-padding;
					margin-top: 0px;
					padding: 0px;
					border-top: none;
					margin-top: 0px;
					overflow: hidden;

				}
			}
		}

		.card-title
		{
			margin: 0px;
			text-overflow: ellipsis;
			overflow: hidden;
      font-size:16px;
      background-color:$card-4-action-bg;
      color:#fff;
      padding:10px;
      border-radius:3px;
      border-bottom-left-radius:0px;
		}

		.card-description
		{
			color: lighten($card-4-color, 45%);
			font-size: 14px;
      padding:0px 10px 5px;
      background-color:$card-4-action-bg;
      display: inline-block;
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;

			margin: 0px;

      .card-user-name
      {
        text-decoration: none;
        color:#eee;

        .name-text
        {
          display: inline-block;
          height: 25px;
          line-height: 25px;
          float:left;
          margin-right: 5px;
        }
      }

      .post-likes
      {
        display: inline-block;
        height: 25px;
        line-height: 25px;
      }
		}

    .card-avatar-image-outer
    {
      display: inline-block;
      width: 25px;
      height: 25px;
      float:left;
      margin-right: 5px;

      img
      {
        width: 100%;
        border-radius: 50%;
      }
    }

		.action-button
		{

			height: 25px;
  		min-height: 0px;
			min-width: 34px;
		  font-size: 11px;
		  line-height: 22px;
		  font-weight: 600;
      padding:5px 12px;
      border-color:transparent;
      background-color:$card-4-action-bg;
      color:#fff;

			&.right-button
			{
				float: right;
				margin-left: 4px;
			}

			&.button-icon
			{
				&::before
				{
					font-size: 22px;
				}
			}

			&.highlighted-button
			{
				border-color: darken($card-4-highlighted-bg, 4%);
			  background-color: $card-4-highlighted-bg;
			  color: $card-4-highlighted-color;
			}
		}
	}
}
