// .bar-header
// {
// 	background-color: $header-bg;
// 	color: $header-color;
// }

.cards-view
{
	background-color: $cards-list-bg;

	.card-2
	{
		color: $card-2-color;

		.card
		{
			padding-top: 0px;
  		padding-bottom: 0px;
			margin: 10px 0px;
		}

		.card-outer
		{
			padding: 0px;

			.card-image
			{
				padding: 0px;

				.main-image
				{
					img
					{
						width: 100%;
					}
				}
			}

			.card-content
			{
				margin: 10px;
				padding: 5px;
				// card width = 100vw - 20px
				// left-image width = 25% of card = 25 * (100vw -20px) / 100
				// left-image height = 200% width of image = (25 * (100vw -20px) / 100) * 2
				// card content height = left-image height = (100vw -20px) / 2 = 100vw/2 - 20px/2 = 50vw - 10px
				// But i added 2x10px of margin so card content height = 50vw - (10px + 2*(10px)) = 50vw - 30px
				@include calc(height, "25vw - 30px");
				overflow: hidden;

				.card-title
				{
					font-size: 14px;
  				font-weight: 200;
				}

				.card-description-outer
				{
					.card-description
					{
						margin-bottom: 3px;
						color: lighten($card-2-color, 45%);
						text-overflow: ellipsis;
					  white-space: nowrap;
					  overflow: hidden;
					  font-size: 12px;

						&:last-child
						{
							margin-bottom: 0px;
						}
					}

				}
			}
		}
	}
}
