// Maps cards
$header-bg: #3f51b5;
$header-color: #FFF;
$cards-list-bg: #ededed;

$card-2-color: #222222;
$card-2-main-image-ratio: 1 1;

// Merge maps
$pre-img-ratios: append($pre-img-ratios, $card-2-main-image-ratio);
