.menu-outer
{
  background-color: #1D1D1D;
  ion-item
  {
    background: transparent;
    border: none;
    color: rgba(darken($menu-color, 2%), .7);
    border-left: 4px solid transparent;

    .item-content
    {
      background: transparent;

      &.activated
      {
        border-color: transparent;
        background-color: transparent;
        color: $menu-color;

        .menu-text
        {
          color: $menu-color;
        }
      }
    }

    &.active
    {
      border-color: transparent;
      background-color: transparent;
      border-left-color: $menu-active-bg;

      .item-content
      {
        border-color: transparent !important;
        background-color: transparent !important;
        color: $menu-color !important;
      }

      .menu-text
      {
        color: $menu-color;
        font-weight: 500;
      }
    }

    .menu-icon
    {
      font-size: 22px;
    }

    .menu-text
    {
      color: rgba(darken($menu-color, 2%), .7);
      margin-left: -5px;
    }
  }

  .user-item
  {
    .item-content
    {
      padding: 8px 16px;
    }

    .user-image-outer
    {
      width: $menu-user-img-width;
      margin-left: -6px;
      float: left;

      .pre-img
      {
        overflow: hidden;
      }

      .user-image
      {
        width: 100%;
        border-radius: 50%;
      }
    }

    .menu-text
    {
      height: $menu-user-img-width;
      line-height: $menu-user-img-width;
      margin-left: 6px;
      margin-bottom: 0px;
      float: left;
    }

    .user-inbox
    {
      position: relative;
      float: right;

      .menu-icon
      {
        font-size: 34px;
        margin-right: 10px;
        right: 0px;
        position: absolute;
      }

      .inbox-unread
      {
        right: 3px;
        position: absolute;
        top: -3px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: $menu-active-bg;
        font-size: 11px;
        text-align: center;
        line-height: 16px;
        font-weight: 600;
      }
    }
  }

  .full-width-item
  {
    border-left: none;

    .item-content
    {
      padding: 0px;
    }

    .button
    {
      margin: 0px;
      background-color: $menu-active-bg;
      border-color: darken($menu-active-bg, 4);
      color: $menu-color;
      padding: 0px 16px;
    }
  }

  .menu-top-options,
  .menu-bottom-options
  {
    padding: 0px;
    margin: 0px;

    .col
    {
      padding: 0px;
    }
  }

  .menu-top-options
  {
    height: $menu-top-options-height;
    padding-top: 5px;
  }

  .menu-bottom-options
  {
    height: (100 - $menu-top-options-height);

    ion-item
    {
      &:last-child
      {
        border-bottom: none;
      }
    }
  }
}

.side-menu-bg {
  background-repeat: no-repeat;
  background-position: 50% 15px;
  background-size: 50%;
  background-image: url('../img/logo-white.png');
}
